@using SquidSite.Models
@model Blog

<div class="BlogBox">
    <div class="BlogTitle">@Model.Title</div>
    <div class="BlogContent">
        <p>@Model.Text</p>
    </div>
    <div class="BlogEditedDate">
        @Model.DateEdited
    </div>
    <div class="BlogPostedDate">
        @Model.DatePosted
    </div>
    <div>
        @*@if (Model.comments != null)
        {
        @foreach (Comment c in Model.comments)
        {
        <div>
            @c.Text;
        </div>
        }*@
        }
    </div>
    <div>
        <form method="post" action="~/Blog/AddComment">
            <input type="number" name="BlogId" value="@Model.BlogId"  disabled hidden/>
            <input class="" type="text" name="Text" placeholder="Write Comment here"><br />
            <input class="" type="text" name="DateEdited" placeholder="" disabled hidden><br />
            <input class="" type="submit" value="New Comment" />
        </form>
    </div>
</div>