@using SquidSite.Models
@model Blog

<div class="BlogBox">
    @if (Model != null)
    {
        <div class="BlogTitle">@Model.BlogTitle</div>
        <div class="BlogContent">
            <p>@Model.BlogContent</p>
        </div>
        <div class="BlogEditedDate">
            @Model.BlogDateEdited
        </div>
        <div class="BlogPostedDate">
            @Model.BlogDatePosted
        </div>
        <div>
            @if (Model.BlogComments != null)
            {
                @foreach (BlogComment c in Model.BlogComments)
                {
                    <div>
                        @c.Comment.CommentUser.userName
                        @c.Comment.CommentDateEdited
                        @c.Comment.CommentText
                    </div>
                }
            }
        </div>
        <div>
            <a asp-action="EditBlogPost" asp-controller="Home" asp-blogId="@Model.BlogId">Edit Blog Post</a>
        </div>
        <div>
            <form method="post" action="~/Blog/AddComment">
                <input type="number" name="BlogId" value="@Model.BlogId" disabled hidden />
                <!-- <input type="number" name="UserId" value="1"  disabled hidden/> -->
                <input class="" type="text" name="CommentText" placeholder="Write Comment here"><br />
                <input class="" type="submit" value="New Comment" />
            </form>
        </div>

    }
    else
    {
        <div class="critical">Invalid Blog</div>
    }
</div>