@using SquidSite.Models
@model BlogPost

<div class="BlogBox">
    <div class="BlogTitle">@Model.title</div>
    <img class="icon" src="~/images/@Model.posterUserIcon" />
    <div class="BlogUsername">@Model.posterUserName</div>
    <div class="BlogContent">
        <p>@Model.content</p>
    </div>
    <div class="BlogEditedDate">
        @Model.dateEdited
    </div>
    <div class="BlogPostedDate">
        @Model.datePosted
    </div>
    <div >
        @foreach (BlogPost.Comment c in Model.comments)
        {
            <div class="BlogCommentBox">
                <img class="icon" src="~/images/@c.posterUserIcon" />
                <div class="BlogCommentUsername">@c.posterUserName</div>
                <div class="BlogCommentContent">
                    <p>@c.content</p>
                </div>
                <div class="BlogCommentEditedDate">
                    @c.dateEdited
                </div>
            </div>
        }
    </div>
</div>